
@{
    //取得當前購物車所有內容
    var currentCart = MVC.Models.Carts.Operation.GetCurrentCart();
}
    


<h3>結帳</h3>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th class="pic" scope="col">圖片</th>
            <th scope="col">品名</th>
            <th scope="col">單價</th>
            <th scope="col">數量</th>
            <th scope="col">總計</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartitem in currentCart)
        {
        <tr>
            <th class="pic" scope="row">
                <img src="~/Assest/img/ProductImg/@cartitem.Image" alt="">
            </th>
            <td>@cartitem.Name</td>
            <td>$@cartitem.Price 元</td>
            <td>@cartitem.Quantity</td>
            <td>$@cartitem.Amount 元</td>
        </tr>
        }
        <tr>
            <th scope="row">總價錢</th>
            <td></td>
            <td></td>
            <td></td>
            <td>@String.Format("共{0}元 ", currentCart.TotalAmount)</td>
        </tr>

    </tbody>
</table>

@section topCSS{


    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .pic {
            width: 100px;
        }
        .pic img{
            width:100%;
        }
    </style>
}

