
@{
    ViewBag.Title = "UserPage";
}

<div class="col-md-12 ">
    <b-card no-body>
        <b-tabs card>
            <b-tab title="Tab 1" active>
                <div class="card card-user">
                    <div class="card-header">
                        <h5 class="card-title">Edit Profile</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row"v-for="item in UserData">
                                <div class="col-md-6 px-1 ">
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input type="email" class="form-control" placeholder="Email"v-model="Email"value={{item.Email}}>
                                    </div>
                                </div>
                                <div class="col-md-6 px-1 ">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" placeholder="Name"v-model="CustomerName"value={{item.CustomerName}}>
                                    </div>
                                </div>
                                <div class="col-md-6 px-1 ">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="tel" class="form-control" placeholder="tel"v-model="Phone"value={{item.Phone}}>
                                    </div>
                                </div>
                                <div class="col-md-6 px-1 ">
                                    <div class="form-group">
                                        <label>BirthDay</label>
                                        <input type="date" class="form-control"v-model="BirthDay"value={{item.BirthDay}}>
                                    </div>
                                </div>
                                <div class="update ml-auto mr-auto">
                                    <button type="submit" class="btn btn-primary btn-round">
                                        Update
                                        Profile
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </b-tab>
            <b-tab title="Tab 2">
                <b-card-text>123</b-card-text>
            </b-tab>
        </b-tabs>
    </b-card>
</div>

